/* styles.css */

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #c0c2ee;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
    gap: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #5f51fa;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

  }
  
  button:hover {
    background-color:#4c41c5;
color: #fff;
box-shadow: 0 0 5px  #c1c0c0;
font-size: 19px;

  }